/*custom css*/
body {
	--green-text: #81bc00;
	font-weight: 500;
}
body ul {
	list-style: none;
}
h1 {
	font-size: 50px;
	margin: 0 0 60px 0;
}
h2 {
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 18px;
}
h3 {
	font-size: 32px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 25px;
}
h4 {

}
h1, h2, h3, h5 {
	color: var(--green-text);
}
a {
	color: var(--green-text);
}
a:hover {
	color: #81bc00;
}
section {
	margin-top: 75px;
}
.top-nav-btn-overlay {
 background-color: #fff;
 position: absolute;
 width: 100%;
 height: 100%;
 z-index:999;
}
.overlay-title {
	color: var(--green-text);
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 200;
	text-align: center;
	margin: 40px 0 30px 0;
}
.top-nav-btn-overlay ul {
	padding:0;
}
.top-nav-btn-overlay ul li {
	margin: 50px auto;
	font-size: 14px;
	font-weight: 600;
}
.top-nav-btn-overlay ul li::before {
	content: "";
	height: 40px;
	position: absolute;
 border-left: 1px solid var(--green-text);
 margin-top: -45px;
 left:50%;
}
.top-nav-btn-overlay ul li:first-child:before {
	margin-top:-50px;
	height: 50px;
}
.top-nav-btn-overlay h5::after {
	content: "";
	margin: 0 auto;
	width: 20%;
	padding-top: 5px;
	border-bottom: 1px solid var(--green-text);
}
.top-nav-btn-overlay ul li a {
	/*padding: 5px;*/
	transition: .1s;
}
.top-nav-btn-overlay ul li a:hover {
 text-decoration: none;
 color:#ff0d47;
 display: block;
 transform: translateY(5px);
}
.overlay-left-pic {
	background-image: url(../images/bag-of-fruits.png);
	width: 320px;
	height: 333px;
	position: absolute;
	left: -80px;
	margin-top: 20%;
}
.overlay-right-pic {
	background-image: url(../images/homefood-back-img.png);
	width: 290px;
	height: 397px;
	position: absolute;
	right: 0px;
	margin-top: 20%;
}
.overlay-social-main {
	cursor: pointer;
	position: absolute;
	left: 20px;
	bottom: 50px;
	height: 20px;
	width: 150px;
	padding: 5px;
}
.top-nav-btn-overlay-heart {
	background-image: url(../images/heart.png);
	width: 17px;
	height: 15px;
	position: absolute;
	top: 14px;
}
.overlay-social {
	color: #000;
 position: absolute;
 padding: 5px;
 font-size: 18px;
 left:0;
}
.overlay-social-notactive {
	visibility: hidden;
}
.overlay-social-active {
	visibility: visible;
}
.top-nav-btn-overlay-years {
	background-image: url(../images/20_years_logo.png);
	background-repeat: no-repeat;
	position: absolute;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 100px;
	height: 100px;
	right: 10px;
	bottom: 10px;
}
#videos {
	margin-top: 175px;
}
#videos h2 {
	margin-bottom: 40px;
}
.main-delivery {
	background-image: url(../images/main-delivery.png);
	background-repeat: no-repeat;
	width:456px;
	height:283px;
	position: relative;
	right: -40px;
	top: 24px;
}
.logo-top-white {
	background-image: url(../images/logo-top-1.png);
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height:24px;
	position: absolute;
	top: 16px;
}
#sidebar {
	position: fixed;
	top:0;
	z-index: 6;
	max-width: 175px;
	padding-right: 40px;
	background-color: #fff;
}
.top-nav_btn {
	width: 50px;
	height: 50px;
	display: block;
	background-color: transparent;
	position: relative;
	top: 40px;
	cursor: pointer;
}
.main-links {
	margin-top: 70px;
}
.main-links a {
	position: absolute;
	color: #a5f100;
}
.main-links a:first-child {
	margin-left: -290px;
}
.main-links a:last-child {
	margin-left: 68px;
}
.top-nav_btn span,
.top-nav_btn span::before,
.top-nav_btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #81bc00;
}
.top-nav_btn span::before,
.top-nav_btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.top-nav_btn span::before {
  transform: translateY(-5px);
}
.top-nav_btn span::after {
  transform: translateY(5px);
}
.top-nav_btn_active span {
	height: 0;
}
.top-nav_btn_active span:before {
  transform: rotate(-45deg);
}
.top-nav_btn_active span:after {
  transform: rotate(45deg);
}
.top-nav_btn-main {
	z-index:40;
	top: 0;
	position: absolute;
}
.top-nav_btn-main span, .top-nav_btn-main span:after, .top-nav_btn-main span:before {
 background-color: #fff;
}
/*menu list style*/
.top-nav_menu {
	list-style: disc;
	/*list-style: none;*/
	color: var(--green-text);
	font-weight: 400;
	transition: .5s;
}
.top-nav_menu li:first-child {
 margin-top: 100px;
}
.top-nav_menu li:last-child {
 /*list-style: none;*/
 list-style-image: url(../images/heart.png);
 /*background-image: url(../images/heart.png);*/
 margin-top: 80px;
 width: 17px;
 height: 15px;
}
.top-nav_menu li {
	/*border-left: 1px solid #000;*/
	margin-bottom: 47px;
}
.active, #top-menu a:hover {
	font-weight: 600;
	text-decoration: underline;
	transition: .2s;
}
.active::before, #top-menu a:hover::before {
 content: "";
 border: 1px solid #81bc00;
 border-radius: 50%;
 height: 14px;
 width: 14px;
 display: inline-block;
 position: absolute;
 margin-left: -22px;
 margin-top: 6px;
 text-decoration: none;
}
#top-menu li::before {
	content: "";
	height: 60px;
	position: absolute;
 /*width: 14px;*/
 border-left: 1px solid var(--green-text);
 margin-left: -16px;
 margin-top: -65px;
 color: ;
}
/*.active, #top-menu li a:hover {
	border-top: 3px solid #333;
 color: #333;
}*/

/*.top-nav_menu li:hover {
	border: 1px solid #000;
}*/
/*.top-nav_menu {
	list-style: none;
	counter-reset: custom_menu;
	list-style-position: outside;
	padding-left: 20px;
}
.top-nav_menu li {
	counter-increment: custom_menu;
	font-size: 15px;
	text-align: ;
}
.top-nav_menu li::before {
	content: counter(custom_menu) " ";
	color:#b3b3b3;
	font-size: 15px;
	font-weight: 500;
	margin-left: -15px;
	position: absolute;
}*/
/*menu list style*/
.main-title {
	font-size: 500%;
	text-transform: uppercase;
	font-weight: lighter;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	color: #fff;
}
.main-content {
	position: relative;
	display:table;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100vh;
	z-index: 24;
}
.box-before {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:-1;
	background: #000 url(../images/main-1.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.box-after {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:-1;
	background: #000 url(../images/main-2.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.first-slide-text {
	font-size: 150%;
	font-weight: 200;
}
.maintxt {
	display:table-cell;
	vertical-align:middle;
	margin: 0 auto;
}
.logo-in-color  {
	margin-top: 17px;
}
#home-food-top-text {
	padding-right: 20px;
}
.food-desc {
	color: #333333;
}
/*.logos	{
	width: 183px;
	height: 22px;
	margin: 0 auto;
	display: block;
	//position: absolute;
}*/

.mouse-arrows {
	padding: 0 10px 0 10px;
}

#home-food::before {
	content: 	'';
	background: url(../images/homefood-back-img.png) no-repeat;
	position: 	absolute;
	width: 100%;
	height: 100%;
	right:-85px;
	top: -60px;
	background-position: center right;
	/*z-index: 7;*/
}
#homefood-back-img2 {
	background: url(../images/home-food-back-img2.png) no-repeat;
	position: 	absolute;
	width: 543px;
	height: 481px;
	right:;
	margin-left:-10px;
	margin-top: 60px;
	background-position: left center;
	z-index: 7;
}
.recipe {
	list-style: none;
	counter-reset: custom_c;
	list-style-position: outside;
	padding-left: 20px;
}
.recipe li {
	counter-increment: custom_c;
	font-size: 15px;
	text-align: ;
}
.recipe li::before {
	content: counter(custom_c) " ";
	color:#b3b3b3;
	font-size: 15px;
	font-weight: 500;
	margin-left: -25px;
	position: absolute;
}
.recipe-ingr, .recipe-ingr-grams {
	font-size: 15px;
	font-style: italic;
	color: var(--green-text);
	padding-left: 30px;
}
.recipe-link {
	text-decoration: underline;
	margin-top: 30px;
}
.recipe-link::after {
	content: "";
	background-image: url(../images/link-arrow.png);
	position: absolute;
	width: 17px;
	height: 13px;
	right: 14px;
	margin-top: 7px;
}
.media-left {
	margin: 10px 21px 32px 0;
}
.media-body {
	margin: auto 0 32px 0;
}
.media-heading {
	font-size: 22px;
	margin-bottom: 5px;
}
.media-subheading {
	font-size: 14px;
	color: #b3b3b3;
	font-style: italic;
}
.healthy-food-quote {
	position: absolute;
}
.left-quote {
	background: url(../images/left-quote.png) no-repeat;
	width: 100%;
	height: 57px;
	display: block;
	position: relative;
	left:3px;
}
.right-quote {
	background: url(../images/right-quote.png) no-repeat;
	width: 100%;
	height: 57px;
	display: block;
	position: relative;
	background-position: top right;
	top:-105px;
}
.food-quote-text {
	position: relative;
	top:-50px;
}

/*slider*/
#videos {
	position: relative;
	z-index: 7;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	width: 1000px;
	height: 556px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	margin-bottom: 80px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/*.video {
background-color: red;

}
#video2 {
background-color: blue;
}
#video3 {
background-color: grey;
}*/
.youtube-player {
	position: relative;
	width:1000px;
	height: 556px;
	margin: auto;
	cursor: pointer;
}
.youtube-player img {
	width: 100%;
	height: 556px;
}
.youtube-player.pristine::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -12px;
	/*  height: 23px;
	width: 21px;
	background-image: url(../images/play-btn.png);*/
	width: 0;
	height:0;
	border-left: 30px solid #81bc00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-radius: 5px;
	transition: opacity .2s ease;
	z-index: 2;
}
.play-btn {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	opacity: 0.89;
	position: absolute;
	width: 68px;
	height: 68px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -35px;
	z-index: 1;
}
/*.youtube-player.pristine::after {
border-radius: 50%;
background-color: rgb(255, 255, 255);
opacity: 0.89;
position: absolute;
width: 68px;
height: 68px;
top: 50%;
left: 50%;
margin-top: -15px;
margin-left: -25px;
}*/
.youtube-player.pristine:hover::before {
	opacity: .7;
}
.video-label {
	position: absolute;
	top:100%;
	left: 0;
	margin-top: 26px;
	text-align: left;
	font-size: 14px;
	line-height: 1.6;
	color:#b3b3b3;
}
#local-food, #experement-food {
	margin-bottom: 150px;
}
#lucian::before {
	content: 	'';
	background: url(../images/experiment-back-img.png) no-repeat;
	position: 	absolute;
	width: 613px;
	height: 504px;
	left:-250px;
	z-index: 7;
}
.bottom-logo {
	margin: 150px 0 120px 0;
}
.bottom-link {
	margin-bottom: 39px;
}
.bottom-link a {
	font-style: italic;
	color:#b3b3b3;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
}

/*future*/

.future-media {
	margin-top: 70px;
}
.future-food-quote {
	top: -25px;
}
.future-food-quote-short {
	top: 20px;
}
.future-top-title {
	margin-bottom: 20px;
}
.future-top-text {
	padding: 0 80px;
	margin-bottom: 40px;
}
#future-delivery::before {
	content: 	'';
	background: url(../images/future-top-back-img.png) no-repeat;
	position: 	absolute;
	width: 100%;
	height: 100%;
	right:0px;
	top: -160px;
	background-position: center right;
	/*z-index: 7;*/
}
.future-side-text {
	margin-top: 50px;
}

@media (max-width: 1100px) {
 .overlay-pic {
 	display: none;
 }
 .overlay-title {
		font-size: 50px;
}
}